<% if logged_in? %>
  <p>Welcome,</p>
  <%= link_to 'Log out', sessions_path, method: :delete%>
<%else%>
  <%= link_to 'Register', new_user_path %>
  <%= link_to 'Login', sessions_new_path%>
<%end%>

<h1>Hacker News</h1>
<%= link_to 'New Post',new_post_path %>
<ul>
  <p><%@posts.each do |post| %> </p>
    <li><%=link_to post.title, post_path(post)%></li>
  <%end%>
</ul>
